.categories__title {
    background: rgba(50, 32, 85, 0.897);
    color: white;
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
  