.notfound{

    display: flex;
    flex-flow: column;
    align-items:center;
    margin: 35vh 0;

    &>*{
        color: white;
        text-shadow: -1px 3px 8px #0000007d;
        margin:0;
    }

    h1{
        font-size: 4rem;
    }

    h3{
        a{
            color: #ffceb6;
            text-decoration: none;
        }
    }
}