@import "./misc/Vars";
@import "./misc/Media";

body {
    margin: 0;
    font-family: $theme-font;
    background: linear-gradient(92deg, #9c21bf, #d65decbd);
}
  
* {
    box-sizing: border-box;
}
  